*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}

.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content p{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.content h1{
    font-size: 60px;
    font-weight: 600;
    color: #ff3753;
}

.content h1 span{
    color: white;
}

.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}


.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 100px;
    margin-bottom: 10px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -4px;
    margin-right: 30px;
}

#images{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 8s linear infinite;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0.5;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }

}